.active {
  display: block !important;
}
.actv{
 background-color: #f97150;
 color: white !important;
}
.item {
  overflow: auto;
 height: 30rem;
  display: none;
}
.item img{
   width: 100%;
   height: 20rem;
   margin-bottom: 2rem;
}
.tourmaster-price-right-title{
  padding-top: 70px;
}
.list-group-item {
  cursor: pointer;
}
.traveltour-content-area {
  padding-top: 30px;
}

.fa-film:before {
  display: none;
}
.tourmaster-tour-grid .tourmaster-tour-discount-price {
  color: #f97150;
}

@media (max-width:900px) {

 .list-group{
  flex-direction: row;
  margin-bottom: 2rem;
 }
}
@media (max-width:400px) {
.list-group{
  font-size: 0.8rem;
 }
  
}

